image: docker:latest
services:
  - docker:dind

stages:
  - test
  - build_push
  - deploy

before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin

test:
  stage: test
  only:
    - develop
  script: echo "Running tests here!!"

build-push-image:
  stage: build_push
  only:
    - tags
  except:
    - branches
  script:
    - docker-compose build adonis
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - echo "Build Adonis is done"

deploy-prod-adonis:
  stage: deploy
  only:
    - tags
  except:
    - branches
  script:
    - docker stop hcare_adonis
    - docker run -d $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  when: manual

# deploy-prod-all:
#   stage: deploy
#   only:
#     - master
#   script:
#     - docker-compose up -d --build
#   when: manual

after_script:
  - docker ps
